.PageMain-container div.PageMain-image {
  width: -webkit-fill-available;
  /* height: 524px; */
  height: auto;
}

.PageMain-image {
  background-image: url("../assets/img/imageBookMony3.jpg");
}

.PageMain-image p {
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  font-weight: 800;

  color: #ffffff;
  padding: 2rem;
  text-transform: uppercase;
}

.PageMain-Components {
  border: 1px solid;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.ListBooks-BordaBottom {
  border: 1px solid #ffffff;
  margin-top: 2rem;
  width: 30px;
}

/* Componente de Title */
@media (max-width: 500px) {  
  .Title-container p {
    font-size: 15px;
  }
  
  .Title-container h2 {
    font-size: 25px;
  }
}

@media (max-width: 550px) {  
  .PageMain-TextCenter {
    font-size: 15px !important;
  }
}